body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#EEEEEE;
}
.first-box {
    background-color: #222f3e;
} 
.second-box{
    display: inline;
}
.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color:#30475E;
  }
  
  .menu li {
    display: inline-block;
  }
  
  .menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #eaeded;
    
  }
  #text{
    color: #eaeded;
    background-color: #f56600;
    text-align: center;
    padding: 1rem 0;
    

  }
  h2,h4{
    color:#eaeded ;
    text-align: center;
  }
  .content{
    background-image: url(./assets/bg-image.png);
    height: 200px;
    padding-top: 50px;
    
  }
  .box-photos{
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
 .text-t{
    padding-left: 30px;
    padding-top: 10px;
  }
  #div1{
    display: inline;
  }
  #div2{
    display: inline-block;
  }
  #div3{
    display: inline-block;
  }
  #div4{
    display: inline-block;
  }
  .photos{
    
    width:300px;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
    padding-inline: 10px;
  }
.center {
    text-align: center;
  }
  .link{
    color:  #17594A;;
  }
  .last-bax{
    background-color: #30475E;
    text-align: center;
    height: 50px;
    
  }
  .box-footer{
    background-color: #222f3e;
    text-align: center;
  }
  #back{
    color: #eaeded;
    padding-top: 5px;
  }
  .last-p{
    padding-top: 10px;
  }